# API 配置 (必需)
NEXT_PUBLIC_API_BASE_URL=http://localhost:9904

# NextAuth 配置 (如果使用 Azure AD)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=AHvk4PLghhMSX2QD8Po3vz4KJcaiFJUoCuclclZm6o8

# Azure AD 配置 (可选)
AZURE_AD_CLIENT_ID=f396eh87-a8f4-4k95-8372-a2261t34661a
AZURE_AD_CLIENT_SECRET=o6u5Q~i1rQb5KZXDtOOK6WNncbc1dHaHAVVLLcL2
AZURE_AD_TENANT_ID=7qf8ca04-12d3-41cf-81a0-85064x56s20b
